<li class="comment <%= comment.user == current_user ? 'me' : nil %>" data-comment-id="<%= comment.id %>">
  <span class="avatar"></span>
  <div class="comment-wrapper">
    <div class="comment-info"><%= comment.user == current_user ? "Me" : comment.user.name %> <span class="time" title="<%= comment.created_at.strftime('%e %b, %Y - %I:%M %p') %>"> • <%= time_ago_in_words(comment.created_at) %> ago</span> <%= link_to comment_path(comment), method: :delete, remote: true, class: 'delete-comment'  do %> <span class="glyphicon glyphicon-trash"></span> <% end %></div>
    <span class="comment-body"><%= comment.comment %></span>
  </div>
</li>