<% if params[:sort_by] == "due_date" %>
  <% @task_groups.sort.reverse.each do |contact, tasks| %>
    <% if contact.present? %>
      <% if params[:sort_by] == "due_date" %>
          <span class="task-contact">
            <%= contact %>
          </span>
      <% else %>
        <span class="task-contact"><%= contact %></span>
      <% end %>
    <% end %>
    <ul>
      <% tasks.each do |task| %>
        <%= render task %>
      <% end %>
    </ul>
  <% end %>
<% else %>
    <% @task_groups.sort.each do |contact, tasks| %>
    <% if contact.present? %>
      <%= User.find_by(name: contact) %>
        <span class="task-contact"><%= link_to contact, Contact.find_by(name: contact) %></span>
    <% end %>
    <ul>
      <% tasks.each do |task| %>
        <%= render task %>
      <% end %>
    </ul>
  <% end %>
<% end %>

