<li class="<%= activity.id.in?(@unread_activities.collect{|a| a.id}) ? 'activity unread' : 'activity' %>">
	<%= link_to read_activity_path(activity.uid) do %>
	  <%= render "public_activity/time", activity: activity %>
	  <div class="content">
	    <% if activity.trackable %>
	      <%= activity.owner.name %> updated <span class="highlight"> <%= activity.trackable.name.possessive %> </span> contact <%= activity.parameters[:changes].collect{|c| c.first.gsub("_", " ") unless c.in?([:updated_at])}.to_sentence if activity.parameters[:changes] %>.
	    <% else %>
	      <%= activity.owner.name %> updated a contact which has since been removed.
	    <% end %>
	  </div>
	 <% end %>
</li>