<li class="contact" data-contact-id="<%= contact.uid %>">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <%= link_to contact do %>
          <span class="identity name"><%= contact.name %></span>
          <span class="identity details"><%= "#{contact.transaction_type.gsub("_", " ").titleize}" %></span>
        <% end %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 10px;">
        <div class="meta">
          <span ><%= link_to view_comments_contact_path(contact), remote: true do %> <%= pluralize(contact.comments.count, "Comment") %> <% end %> | <%= pluralize(contact.tasks.count, "Task") %>
          </span>
        </div>
      </div>
    </div>
</li>