<li class="contact dashboard-contact" data-contact-id="<%= contact.uid %>">
  <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <%= link_to contact do %>
          <span class="identity name"><%= contact.name %></span>
          <span class="identity details"><%= "#{contact.transaction_type.gsub("_", " ").titleize}" %></span>
        <% end %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 10px;">
        <div class="meta">
          <span ><%= link_to view_comments_contact_path(contact), remote: true do %> <%= pluralize(contact.comments.count, "Comment") %> <% end %> | <%= pluralize(contact.tasks.count, "Task") %>
          </span>
        </div>
      </div>
  </div>

  <div id="details">
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div id="comments">
          <ul>
            <% contact.comments.each do |comment| %>
              <li class="comment <%= comment.user == current_user ? 'me' : nil %>" data-comment-id="<%= comment.id %>">
                <span class="comment-body"><%= comment.comment %></span>
                <div class="meta">
                  <span class="options">
                    <%= link_to "edit", edit_comment_path(comment), remote: true %> | <%= link_to "delete", comment_path(comment), method: :delete, remote: true %>
                  </span>
                  <span class="time" title="<%= comment.created_at.strftime('%e %b, %Y - %I:%M %p') %>"><%= time_ago_in_words(comment.created_at) %> ago</span>
                </div>
                <% if comment.user == current_user %>
                  <%= form_for comment, html: {class: 'edit-comment hide'}, remote: true do |f| %>
                    <%= f.text_area :comment, placeholder: "add comment...", class: "comment-box " %>
                    <div class="actions">
                      <%= link_to "Cancel", "#", class: "cancel-comment-edit btn btn-xs btn-default" %>
                      <%= f.submit "Save", class: "btn btn-xs btn-default-inverted" %>
                    </div>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <%= form_for @comment do |f| %>
            <% if contact.comments.any? %>
              <hr>
            <% end %>
            <%= f.text_area :comment, placeholder: "add comment...", class: "comment-box " %>
            <%= f.hidden_field :contact_id, value: contact.uid %>
            <%= f.submit "Comment", class: "btn btn-default-inverted btn-block btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</li>