<li class="<%= activity.id.in?(@unread_activities.collect{|a| a.id}) ? 'activity unread' : 'activity' %>" data-activity-id="<%= activity.uid %>">
	<%= link_to read_activity_path(activity.uid) do %>
	  <%= render "public_activity/time", activity: activity %>
	  <div class="content">
	    <% if activity.trackable %>
	      <%= activity.owner.name %> created a task: <span class="highlight"><%= activity.trackable.content %></span>.
	    <% else %>
	      <%= activity.owner.name %> created a task which has since been deleted.
	    <% end %>
	  </div>
	 <% end %>
</li>