<li class="<%= activity.id.in?(@unread_activities.collect{|a| a.id}) ? 'activity unread' : 'activity' %>" data-activity-id="<%= activity.uid %>">
	<% if activity.trackable %>
		<%= link_to read_activity_path(activity.uid) do %>
		  <%= render "public_activity/time", activity: activity %>
		  <div class="content">
	      <%= activity.owner.name %> updated a task <span class="highlight"> <%= activity.trackable.content %></span>. <%= activity.parameters[:changes].collect{|c| c.first.gsub("_", " ") unless c.in?([:updated_at])}.to_sentence if activity.parameters[:changes] %>.
		  </div>
		 <% end %>
	<% else %>
		<%= render "public_activity/time", activity: activity %>
	  <div class="content">
	      <%= activity.owner.name %> updated a contact which has since been removed.
	  </div>
	<% end %>
</li>